html {
  background-color: #101010;
}

.structure-container {
  margin-top: 63px;
  background-color: #101010;
}

.content-container {
  margin: 0% 4% 0% 4%;
  padding-bottom: 5%;
}

.content-row-container {
  padding-top: 3%;
}

.content-row-container > h1 {
  color: white;
  font-family: sans-serif;
  font-size: 1.5vw;
  margin-bottom: 1%;
}

.video-container {
  display: flex;
  justify-content: space-evenly;
}

.img-link-1 {
  margin-right: 5px;
  margin-left: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link-2 {
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link-3 {
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link-4 {
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link-5 {
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-link-6 {
  margin-right: 5px;
  cursor: pointer;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container img {
  width: 100%;
  height: auto;
}

.mini-video-player {
  display: block;
  position: absolute;
  width: 140%;
  min-width: 170px;
  z-index: 1;
  flex-shrink: 0;
}

.mini-video-player-blank {
  display: none
}

.vsc-controller {
  display: none;
}

#first-vid {
  left: -14%;
}

#last-vid {
  right: -14%;
}