.navbar-component {
  position: fixed;
  font-size: 14px;
  font-family: sans-serif;
  font-weight: 200;
  transform: scale(1, 0.95);
  width: 100%;
  top: -2px;
  z-index: 2;
}

.navbar-box {
  top: 0;
  width: 99.9%;
  height: 68px;
  background-image: linear-gradient(180deg, rgb(0, 0, 0) -62%, #0e0e0e  81%);
  display: flex;
  justify-content: space-between;
}

.navbar-box > img {
  width: 9%;
  height: 120%;
  margin-top: 0.1%;
  margin-left: 3%;
}

#first-link-navbar {
  margin-left: 3%;
}

.navbar-left {
  height: 100%;
  width: 320px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2.3%;
  margin-right: 150px;
}

.navbar-left-link {
  text-decoration: none;
  color: rgb(206, 206, 206);
  position: relative;
  top: 1px;
}

.navbar-left-link:hover {
  color: rgb(160, 160, 160)
}

.navbar-right {
  position: relative;
  height: 100%;
  width: 190px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  right: 100px;
  top: 2px;
}

.navbar-right > img {
  cursor: pointer;
}

.profile-pic-container {
  height: 35px;
  width: 35px;
  background-color: rgb(133, 167, 252);
  display: flex;
  cursor: pointer;
}

.profile-pic-container {
  align-items: center;
}

.profile-pic-container > img {
  position: relative;
  width: 110%;
  height: 110%;
  right: 2px;
}

.profile-pic-container > p {
  position: relative;
  top: 4px;
  left: 7px;
  font-size: 11px;
  transform: scale(1, 0.5);
}

.navbar-right-link {
  text-decoration: none;
  color: #cecece;
}

.trial-margin {
  margin: auto
}

@media only screen and (max-width: 700px) {
  .navbar-left {
    margin-left: 21px;
  }
}

.profile-dropdown {
  position: absolute;
  top: 73px;
  right: -12px;
  border: 1px solid rgb(50, 50, 50);
  display: flex;
  flex-direction: column;
  width: 158px;
  background-color: black;
  display: none;
  cursor: default;
  opacity: 0.9;
}

.dropdown-section-1 {
  margin: 15px 0px 15px 0px;
}

.dropdown-section-2 {
  border-top: 1px solid rgb(79, 79, 79);
  height: 100px;
  display: flex;
  flex-direction: column;
}

.profile-dropdown-link {
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin: 7px 0px 0px 10px;
  width: max-content;
}

.profile-dropdown-link:hover {
  text-decoration: underline;
}

.profile-dropdown-link2 {
  font-size: 13px;
  color: white;
  text-decoration: none;
  margin: 15px 0px 0px 10px;
  width: max-content;
}

.profile-dropdown-link2:hover {
  text-decoration: underline;
}

.up-arrow {
  position: absolute;
  color: rgb(238, 238, 238);
  bottom: -15px;
  right: -24px;
  transform: scale(1, 0.7);
  padding: 41px 33px 1px 29px;
  display: none;
}

.profile-pic-container:hover .up-arrow {
  display: block;
}

.profile-pic-container:hover .profile-dropdown {
  display: block;
}

.up-arrow:hover {
  display: block;
}

.profile-dropdown:hover {
  display: block;
}

.notif-dropdown-outer {
  position: absolute;
  left: -162%;
  top: 84%;
  height: 667px;
  width: 408px;
  height: 719px;
  display: none;
}

.notif-dropdown-outer {
  display: block;
}

.notification-dropdown {
  position: absolute;
  height: 65%;
  width: 100%;
  border-top: 2px solid white;
  border-bottom: 1px solid rgb(50, 50, 50);
  border-left: 1px solid rgb(50, 50, 50);
  border-right: 1px solid rgb(50, 50, 50);
  overflow-y: scroll;
  // background-color: black;
  // opacity: 0.8;
}

div.notif-up-arrow {
  position: relative;
  color: rgb(227, 225, 225);
  font-size: 17px;
  transform: scale(1, 0.7);
  left: 95%;
  top: 0.7%;
}

// .navbar-list-items-container {
 
// }

.navbar-list-items-img {
  width: 120px;
  padding: 13px;
}

.navbar-list-items-link {
  border-bottom: 1px solid #2B2D2C;
  display: flex;
  height: 100px;
  text-decoration: none;
  background-color: black;
  opacity: 0.8;
}

.navbar-list-items-link:hover {
  background-color: black;
  opacity: 1;
}

.navbar-list-items-textdiv {
  align-self: center;
  font-family: sans-serif;
  line-height: 17px;
  margin-left: 2px;
}

.navbar-list-items-textdiv > h3 {
  text-decoration: none;
  color: white;
  font-size: 16px;
}

.navbar-list-items-textdiv > p {
  text-decoration: none;
  color: gray;
  font-size: 13px;
}

.fas.fa-bell {
  font-size: 22px;
  cursor: pointer;
}