// Place all the styles related to the api/sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
  height: 100%;
}

.login-page { 
  height: 733px;
  background: url("https://i.ibb.co/SyLNkvK/logo-developmentversion.jpg") center center fixed;
  // background: url(../../images/logo-developmentversion.jpg) center center fixed;
  background-size: cover;
}

